<a href="https://colab.research.google.com/github/JHWannabe/Python-AI_4_2/blob/main/1_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# 데이터 프레임 로드
df = pd.read_csv('https://bit.ly/ds-house-price')

In [ ]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [ ]:
# 1. column의 이름을 재정의
# 분양가격(㎡)의 이름을 재정의
df = df.rename(columns={'분양가격(㎡)':'분양가격'})
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [ ]:
# 2. 빈 값과 Data Type 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [ ]:
# 3. 통계값 확인
df.describe() 
# 분양가격은 숫자형이 아니란 것을 알 수 있음

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

In [ ]:
# 4. 분양가격 column을 int 타입으로 변환
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
# 4-1. strip()을 활용하여 공백이 있는 데이터의 공백없애기
df['분양가격'].str.strip()

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4500    3955
4501    4039
4502    3962
4503     NaN
4504    3601
Name: 분양가격, Length: 4505, dtype: object

In [ ]:
df.loc[df['분양가격'] == '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [ ]:
df['분양가격'] = df['분양가격'].str.strip()

In [ ]:
df.loc[df['분양가격'] == '  ']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
# 4-2. 공백이 있던 데이터를 모두 0으로 변경
df.loc[df['분양가격'] == '', '분양가격'] = 0

In [ ]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [ ]:
df.loc[df['분양가격'] == '']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
# 4-3 NaN값을 fillna로 0을 채워줌
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
# 4-4. ,(콤마) 들어간 데이터를 확인하고 제거
df.loc[df['분양가격'] == '6,657']

     지역명 규모구분    연도   월   분양가격
2125  서울   전체  2017  11  6,657

In [ ]:
df['분양가격'] = df['분양가격'].str.replace(',', '')

In [ ]:
df.iloc[2125]

지역명       서울
규모구분      전체
연도      2017
월         11
분양가격    6657
Name: 2125, dtype: object

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df['분양가격'] = df['분양가격'].str.replace('-', '')

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df.loc[df['분양가격'] == '', '분양가격'] = 0

In [ ]:
df['분양가격'] = df['분양가격'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

In [ ]:
# 5. 규모구분 column에 불필요한 '전용면적' 제거하기
df['규모구분'].value_counts()

전용면적 60㎡이하           901
전용면적 85㎡초과 102㎡이하    901
전체                   901
전용면적 60㎡초과 85㎡이하     901
전용면적 102㎡초과          901
Name: 규모구분, dtype: int64

In [ ]:
df['규모구분'] = df['규모구분'].str.replace('전용면적', '')

In [ ]:
df['규모구분'].value_counts()

 102㎡초과          901
 60㎡이하           901
 85㎡초과 102㎡이하    901
전체               901
 60㎡초과 85㎡이하     901
Name: 규모구분, dtype: int64

In [ ]:
# 6. 지역명 별로 평균 분양가격을 확인
df.groupby('지역명')['분양가격'].mean()

지역명
강원    2339.807547
경기    4072.667925
경남    2761.275472
경북    2432.128302
광주    2450.728302
대구    3538.920755
대전    2479.135849
부산    3679.920755
서울    7225.762264
세종    2815.098113
울산    1826.101887
인천    3578.433962
전남    2270.177358
전북    2322.060377
제주    2979.407547
충남    2388.324528
충북    2316.871698
Name: 분양가격, dtype: float64

In [ ]:
# 7. 분양가격이 100보다 작은 행을 제거
df.loc[df['분양가격'] < 100]

     지역명           규모구분    연도   월  분양가격
28    광주   85㎡초과 102㎡이하  2015  10     0
29    광주         102㎡초과  2015  10     0
34    대전         102㎡초과  2015  10     0
81    제주          60㎡이하  2015  10     0
113   광주   85㎡초과 102㎡이하  2015  11     0
...   ..            ...   ...  ..   ...
4461  세종          60㎡이하  2020   2     0
4488  전남   85㎡초과 102㎡이하  2020   2     0
4493  경북   85㎡초과 102㎡이하  2020   2     0
4499  경남         102㎡초과  2020   2     0
4503  제주   85㎡초과 102㎡이하  2020   2     0

[320 rows x 5 columns]

In [ ]:
idx = df.loc[df['분양가격'] < 100].index
idx

Int64Index([  28,   29,   34,   81,  113,  114,  119,  166,  198,  199,
            ...
            4418, 4448, 4453, 4458, 4459, 4461, 4488, 4493, 4499, 4503],
           dtype='int64', length=320)

In [ ]:
df = df.drop(idx, axis=0)

In [ ]:
df.count()

지역명     4185
규모구분    4185
연도      4185
월       4185
분양가격    4185
dtype: int64

In [ ]:
df.groupby('지역명')['분양가격'].mean()

지역명
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

In [ ]:
# 지역별로 데이터 개수를 확인
df.groupby('지역명')['분양가격'].count()

지역명
강원    257
경기    265
경남    260
경북    253
광주    213
대구    256
대전    210
부산    265
서울    265
세종    250
울산    159
인천    261
전남    261
전북    262
제주    230
충남    253
충북    265
Name: 분양가격, dtype: int64

In [ ]:
# 지역별로 최고 비싼 분양가를 확인
df.groupby('지역명')['분양가격'].max()

지역명
강원     3906
경기     5670
경남     4303
경북     3457
광주     4881
대구     5158
대전     4877
부산     4623
서울    13835
세종     3931
울산     3594
인천     5188
전남     3053
전북     3052
제주     5462
충남     3201
충북     2855
Name: 분양가격, dtype: int64

In [ ]:
# 연도별로 분양가격 평균을 확인
df.groupby('연도')['분양가격'].mean()

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3853.960526
Name: 분양가격, dtype: float64