<a href="https://colab.research.google.com/github/JHWannabe/Python-AI_4_2/blob/main/0117%20Day3/6_%EC%A0%95%EA%B7%9C%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.정규화(Normalize)**

* column 간에 다른 min, max 값을 가지고 있는 경우, 정규화를 통해 최소치/최대값의 척도를 맞춰주는 것
* 네이버 영화 평점(0점 ~ 10점)
* 넷플릭스 영화 평점(0점 ~ 5점)

In [1]:
movie = {'naver':[2,4,6,8,10], 'netflix':[1,2,3,4,5]}

In [2]:
import pandas as pd
movie =pd.DataFrame(data=movie)
movie

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
min_max_scaler = MinMaxScaler()

In [5]:
min_max_movie = min_max_scaler.fit_transform(movie)

In [7]:
pd.DataFrame(min_max_movie, columns=['naver', 'netflix'])

   naver  netflix
0   0.00     0.00
1   0.25     0.25
2   0.50     0.50
3   0.75     0.75
4   1.00     1.00

# **✔ 표준화(standardization)**
* 각 관측치(observation)가 평균을 기준으로 어느정도 떨어져 있는지를 나타내는 것
* 값의 스케일이 다른 두 개의 변수가 있을 때 변수들의 스케일 차이를 제거해주는 효과