<a href="https://colab.research.google.com/github/JHWannabe/Python-AI_4_2/blob/main/0117%20Day3/8_%EA%B0%80%EC%83%81%EC%87%BC%ED%95%91%EB%AA%B0_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 쇼핑몰 고객 주문 데이터 파악하기**

### **1-1. 데이터셋**
* 온라인 리테일 사이트 2010/12 ~ 2011/12까지의 주문 기록 데이터
* 약 500,000건 데이터

In [5]:
import numpy as np
import pandas as pd

retail = pd.read_csv('./OnlineRetail.csv')

In [2]:
retail.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

* InvoiceNo : 주문번호
* StockCode :아이템 아이디
* Description : 상품 설명
* Quantity : 상품 주문 수량
* InvoiceDate : 주문 시각
* UnitPrice : 상품 가격(동일한 통화)
* CustomerID : 고객 아이디
* Country : 고객 거주 지역(국가)

In [3]:
retail.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [6]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
retail.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [8]:
# 각 필드당 Null이 몇개 있는지 확인
retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [9]:
# CustomerID의 Null을 제거
retail = retail[pd.notnull(retail['CustomerID'])]
len(retail)

406829

In [10]:
# 수량, 가격이 0보다 큰 데이터만 저장
retail = retail[retail['Quantity'] > 0]
retail = retail[retail['UnitPrice'] > 0]
len(retail)

397884

In [11]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397884 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Description  397884 non-null  object
 3   Quantity     397884 non-null  int64
 4   InvoiceDate  397884 non-null  object
 5   UnitPrice    397884 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      397884 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.3+ MB

In [12]:
retail['CustomerID'] = retail['CustomerID'].astype(np.int32)
retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397884 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Description  397884 non-null  object
 3   Quantity     397884 non-null  int64
 4   InvoiceDate  397884 non-null  object
 5   UnitPrice    397884 non-null  float64
 6   CustomerID   397884 non-null  int32
 7   Country      397884 non-null  object
dtypes: float64(1), int32(1), int64(1), object(5)
memory usage: 25.8+ MB

### **1-2. 새로운 column 추가**
* 수량*가격은 고객의 총 지출비용(CheckoutPrice)

In [13]:
retail['CheckoutPrice'] = retail['UnitPrice']*retail['Quantity']
retail.head()

  InvoiceNo StockCode  ...         Country  CheckoutPrice
0    536365    85123A  ...  United Kingdom          15.30
1    536365     71053  ...  United Kingdom          20.34
2    536365    84406B  ...  United Kingdom          22.00
3    536365    84029G  ...  United Kingdom          20.34
4    536365    84029E  ...  United Kingdom          20.34

[5 rows x 9 columns]

### **1-3. 정제 데이터 저장**

In [14]:
retail.to_csv('./OnlineRetailClean.csv')

# **2. 매출, 가장 많이 팔린 아이템 확인하기**

In [15]:
import seaborn as sns
COLORS = sns.color_palette()
%matplotlib inline

In [16]:
dtypes ={
    'UnitPrice': np.float32,
    'CustomerID': np.int32,
    'Quantity': np.int32
}
retail = pd.read_csv('./OnlineRetailClean.csv', dtype=dtypes)
retail.head()

   Unnamed: 0  InvoiceNo StockCode  ... CustomerID         Country CheckoutPrice
0           0     536365    85123A  ...      17850  United Kingdom         15.30
1           1     536365     71053  ...      17850  United Kingdom         20.34
2           2     536365    84406B  ...      17850  United Kingdom         22.00
3           3     536365    84029G  ...      17850  United Kingdom         20.34
4           4     536365    84029E  ...      17850  United Kingdom         20.34

[5 rows x 10 columns]

In [17]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397884 entries, 0 to 397883
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     397884 non-null  int64
 1   InvoiceNo      397884 non-null  int64
 2   StockCode      397884 non-null  object
 3   Description    397884 non-null  object
 4   Quantity       397884 non-null  int32
 5   InvoiceDate    397884 non-null  object
 6   UnitPrice      397884 non-null  float32
 7   CustomerID     397884 non-null  int32
 8   Country        397884 non-null  object
 9   CheckoutPrice  397884 non-null  float64
dtypes: float32(1), float64(1), int32(2), int64(2), object(4)
memory usage: 25.8+ MB

### **2-1. 날짜 타입 데이터 변환하기**
* 문자열로 데이터를 로딩하는 것 보다 date/datetime 형태로 변환하는 것이 계산에 용이

In [22]:
retail['InvoiceDate'] = pd.to_datetime(retail['InvoiceDate'], infer_datetime_format=True)

In [23]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397884 entries, 0 to 397883
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     397884 non-null  int64
 1   InvoiceNo      397884 non-null  int64
 2   StockCode      397884 non-null  object
 3   Description    397884 non-null  object
 4   Quantity       397884 non-null  int32
 5   InvoiceDate    397884 non-null  datetime64[ns]
 6   UnitPrice      397884 non-null  float32
 7   CustomerID     397884 non-null  int32
 8   Country        397884 non-null  object
 9   CheckoutPrice  397884 non-null  float64
dtypes: datetime64[ns](1), float32(1), float64(1), int32(2), int64(2), object(3)
memory usage: 25.8+ MB

In [24]:
retail.head()

   Unnamed: 0  InvoiceNo StockCode  ... CustomerID         Country CheckoutPrice
0           0     536365    85123A  ...      17850  United Kingdom         15.30
1           1     536365     71053  ...      17850  United Kingdom         20.34
2           2     536365    84406B  ...      17850  United Kingdom         22.00
3           3     536365    84029G  ...      17850  United Kingdom         20.34
4           4     536365    84029E  ...      17850  United Kingdom         20.34

[5 rows x 10 columns]